<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='index, follow' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000"/>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="canonical" href="https://dsp-dev-g5-sk-as-lm.fr/" />

  <!-- Page Info -->
  <title>Mes réservations chez Atypik House</title>
  <meta name="description" content="Mes réservations des hebergements insolite chez Atypik House" />

  <!-- SEO -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Mes réservations chez Atypik House" />
  <meta property="og:description" content="Mes réservations des hebergements insolite chez Atypik House" />
  <meta property="og:url" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="180" />
  <meta property="og:site_name" content="AtypikHouse" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- js Files -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

  <!-- Saira Font Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Icons Fontawesome -->
  <script src="https://kit.fontawesome.com/9923ee27af.js" crossorigin="anonymous"></script>

</head>
<body>
  <%- include('partials/nav') %>

    <!-- File d'Ariane -->
    <div class="fil-ariane">
      <div class="container-full px-5 p-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb  m-0">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mes réservations</li>
          </ol>
        </nav>
      </div>
    </div>

<div class="bg-light">
  <div class="container">
    <h1 class="txt-blue bold text-center py-5">Mes Réservations</h1>
    <div class="row">
      <h2 class="h4 txt-green mb-4">Réservations en cours</h2>
      <% ongoingBookings.forEach(booking => { %>
      <div class="col-md-12 flex-wrap align-items-center bg-white p-3 bs10 br20 gap-3 d-flex">
        <div class="col-md-1 col-12">
          <% if (booking.housing.Photos && booking.housing.Photos.length > 0) { %>
            <img src="/<%= booking.housing.Photos[0].path %>" class=" br15 card-img-top" alt="<%= booking.housing.title %>">
          <% } else { %>
            <img src="/path/to/default-image.jpg" class="br15 card-img-top" alt="Image non disponible">
          <% } %>
        </div>
        <div class="col-md-3 col-12">
          <h3 class="txt-green h4 bold"><%= booking.housing.title %></h3>
        </div>
        <div class="col-md-2 col-6">
          <p class="card-text">Début : <%= booking.startDate.toDateString('fr-FR') %></p>
        </div>
        <div class="col-md-2 col-6">
          <p class="card-text">Fin : <%= booking.endDate.toDateString('fr-FR') %></p>
        </div>
        <div class="col-md col-12">
          <p class="card-text">Statut : <%= booking.status %></p>
        </div>
        <div class="col-md-2 col-12">
          <form action="/bookings/cancel/<%= booking.id %>" method="POST">
            <button type="submit" class="btn btn-danger">Annuler la réservation</button>
          </form>
        </div>
      </div>
      <% }) %>


      <h2 class="h4 txt-green mt-5 mb-4">Réservations passées</h2>
      <% pastBookings.forEach(booking => { %>
      <div class="col-md-12 flex-wrap align-items-center bg-white p-3 bs10 br20 gap-3 d-flex">
        <div class="col-md-1">
          <% if (booking.housing.Photos && booking.housing.Photos.length > 0) { %>
            <img src="/<%= booking.housing.Photos[0].path %>" class=" br15 card-img-top" alt="<%= booking.housing.title %>">
          <% } else { %>
            <img src="/path/to/default-image.jpg" class="br15 card-img-top" alt="Image non disponible">
          <% } %>
        </div>
        <div class="col-md-3 col-12">
          <h3 class="txt-green h4 bold"><%= booking.housing.title %></h3>
        </div>
        <div class="col-md-2 col-12">
          <p class="card-text">Début : <%= booking.startDate.toDateString('fr-FR') %></p>
        </div>
        <div class="col-md-2 col-12">
          <p class="card-text">Fin : <%= booking.endDate.toDateString('fr-FR') %></p>
        </div>
        <div class="col-md col-12">
          <p class="card-text">Statut : <%= booking.status %></p>
        </div>
        <div class="col-md-2 col-12">
          
        </div>
      </div>
      <% }) %>



      <h2 class="h4 txt-green mt-5 mb-4">Réservations annulées</h2>
      <% cancelledBookings.forEach(booking => { %>
      <div class="col-md-12 flex-wrap align-items-center bg-white p-3 bs10 br20 gap-3 d-flex">
        <div class="col-md-1">
          <% if (booking.housing.Photos && booking.housing.Photos.length > 0) { %>
            <img src="/<%= booking.housing.Photos[0].path %>" class=" br15 card-img-top" alt="<%= booking.housing.title %>">
          <% } else { %>
            <img src="/path/to/default-image.jpg" class="br15 card-img-top" alt="Image non disponible">
          <% } %>
        </div>
        <div class="col-md-3 col-12">
          <h3 class="txt-green h4 bold"><%= booking.housing.title %></h3>
        </div>
        <div class="col-md-2 col-12">
          <p class="card-text">Début : <%= booking.startDate.toDateString('fr-FR') %></p>
        </div>
        <div class="col-md-2 col-12">
          <p class="card-text">Fin : <%= booking.endDate.toDateString('fr-FR') %></p>
        </div>
        <div class="col-md col-12">
          <p class="card-text">Statut : <%= booking.status %></p>
        </div>
        <div class="col-md-2 col-12">
          
        </div>
      </div>
      <% }) %>

    </div>
  </div>
</div>

  <%- include('partials/footer') %>
</body>
</html>
