<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='index, follow' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000"/>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="canonical" href="https://dsp-dev-g5-sk-as-lm.fr/" />

  <!-- Page Info -->
  <title>Hébergements Insolites et Atypiques | Trouvez Votre Séjour Parfait chez AtypikHouse</title>
  <meta name="description" content="Explorez notre sélection d'hébergements insolites et atypiques chez AtypikHouse. Yourtes, cabanes, chalets, bulles et plus encore. Trouvez l'expérience unique qui vous correspond et réservez dès maintenant !" />

  <!-- SEO -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Hébergements Insolites et Atypiques | Trouvez Votre Séjour Parfait chez AtypikHouse" />
  <meta property="og:description" content="Explorez notre sélection d'hébergements insolites et atypiques chez AtypikHouse. Yourtes, cabanes, chalets, bulles et plus encore. Trouvez l'expérience unique qui vous correspond et réservez dès maintenant !" />
  <meta property="og:url" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="180" />
  <meta property="og:site_name" content="AtypikHouse" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- js Files -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

  <!-- Saira Font Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Icons Fontawesome -->
  <script src="https://kit.fontawesome.com/9923ee27af.js" crossorigin="anonymous"></script>

</head>
<body>
  <%- include('partials/nav') %>

  <!-- File d'Ariane -->
  <div class="fil-ariane">
    <div class="container p-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="/">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Hébergements</li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- Section Hote -->
  <div class="hebergement-section-1"></div>
  <div class="hebergement-section">
    <div class="container p-5 h-100 ">
      <div class="row h-100 align-items-center">
        <div class="col-md-6 text-start">
          <h1 class="bold h1 mb-1 txt-white">Nos Hébergements</h1>
          <h2 class="fw3 h3 mb-3 txt-white">Découvrez tous nos hébergements insolites et atypiques</h2>
        </div>
      </div>
    </div>
  </div>


<div class="bg-green">
  <div class="container py-5">
    <div class="row pb-5">
      <div class="col-md-4">
        <form id="filter-form" class="form-inline align-items-center py-3 d-flex gap-3">
          <select class="form-control-p" id="sortBy" name="sortBy">
            <option value="recent">Les plus récentes</option>
            <option value="popular">Les plus populaires</option>
            <option value="expensive">Les plus chères</option>
            <option value="cheap">Les moins chères</option>
          </select>
          <select class="form-control-p" id="themeFilter" name="theme">
            <option value="">Tous les thèmes</option>
            <% themes.forEach(theme => { %>
              <option value="<%= theme.id %>"><%= theme.name %></option>
            <% }); %>
          </select>
          <button type="submit" class="btn btn-info">Filtrer</button>
        </form>
      </div>
      <div class="col-md-8 justify-content-end text-right align-items-center gap-3 d-flex py-3">
        <% if (user) { %>
            <p class="txt-white m-0">Si vous voulez ajouter un hebergement, cliquez sur ce bouton :</p>
            <a href="/hebergements/add" class="btn btn-primary">Ajouter un hébergement</a>
        <% } %>
      </div>
    </div>

    

    <div class="row">
      <% housings.forEach(housing => { %>
        <div class="col-md-3">
          <div class="card-host">
            <a href="/hebergements/<%= housing.id %>" class="">
              <p class="card-categorie"><%= housing.Theme.name %></p>
              
              <% if (housing.Photos && housing.Photos.length > 0) { %>
                <img src="/<%= housing.Photos[0].path %>" class="card-img-top" alt="<%= housing.title %>">
              <% } else { %>
                <img src="/path/to/default-image.jpg" class="card-img-top" alt="Default Image">
              <% } %>

              <div class="body-host">
                <h4><%= housing.title %></h4>
                <p>Prix : <%= housing.price %> € <span><%= housing.capacity %> personnes max</span></p>
                
              </div>
            </a>
          </div>
        </div>

      <% }) %>
    </div>

  </div>
</div>

  <%- include('partials/footer') %>
</body>
</html>
