<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='index, follow' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000"/>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="canonical" href="https://dsp-dev-g5-sk-as-lm.fr/" />

  <!-- Page Info -->
  <title><%= housing.title %> | AtypikHouse</title>
  <meta name="description" content="<%= housing.title %>, Découvrez cette manifique <%= housing.Theme.name %> à <%= housing.Destination.name %> !" />

  <!-- SEO -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= housing.title %> | AtypikHouse" />
  <meta property="og:description" content="<%= housing.title %>, Découvrez cette manifique <%= housing.Theme.name %> à <%= housing.Destination.name %> !" />
  <meta property="og:url" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image" content="https://dsp-dev-g5-sk-as-lm.fr/" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="180" />
  <meta property="og:site_name" content="AtypikHouse" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- js Files -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

  <!-- Saira Font Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Icons Fontawesome -->
  <script src="https://kit.fontawesome.com/9923ee27af.js" crossorigin="anonymous"></script>

 <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
-->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HVQHXD756X"></script>
  <script>   window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());   gtag('config', 'G-HVQHXD756X'); </script>

</head>
<body>
  <%- include('partials/nav') %>

  <!-- File d'Ariane -->
  <div class="fil-ariane">
    <div class="container-full px-5 p-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb  m-0">
          <li class="breadcrumb-item"><a href="/">Accueil</a></li>
          <li class="breadcrumb-item"><a href="/hebergements">Hébergements</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= housing.title %></li>
        </ol>
      </nav>
    </div>
  </div>

<div class="bg-light">

  <div class="container py-3 py-md-5">

    <div class="row align-items-center gap-4 py-3">
      <div class="col-md">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% if (housing.Photos && housing.Photos.length > 0) { %>
              <% housing.Photos.forEach((photo, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="/<%= photo.path %>" class="d-block w-100 br20" alt="<%= housing.title %>">
                </div>
              <% }) %>
            <% } else { %>
              <div class="carousel-item active">
                <img src="/path/to/default-image.jpg" class="d-block w-100 br20" alt="Default Image">
              </div>
            <% } %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="col-md-7">
        <p class="text-muted pb-2">Publié le <%= new Date(housing.createdAt).toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>

        <h1 class="txt-green h2 pb-2 bold"><%= housing.title %></h1>

        <!-- Résumé des évaluations -->
        <div>
          <% 
            let totalRating = 0;
            let totalComments = housing.Comments ? housing.Comments.length : 0;
            housing.Comments && housing.Comments.forEach(comment => {
              totalRating += comment.rating;
            });
            let averageRating = totalComments ? (totalRating / totalComments).toFixed(1) : 0;
          %>
          <div class="d-flex gap-3 align-items-center">
            <p class="mb-0"><%= averageRating %> / 5</p>
            <div class="ml-3">
              <% for(let i = 1; i <= 5; i++) { %>
                <i class="fas fa-star <%= i <= averageRating ? 'text-warning' : 'text-muted' %>"></i>
              <% } %>
            </div>
            <span class="ml-2">(<%= totalComments %> commentaires)</span>
          </div>
        </div>

        <p class="h5 txt-green mt-2 mt-md-3 py-3">Prix : <span class="txt-blue fw6"><%= housing.price %> €</span>, la nuit</p>

        <div class="d-flex mt-3 gap-2">
          <div class="col-6 bs10 bg-white br20 p-3">
            <p class="txt-green m-0 fw6"><span class="mb-2 text-muted fw5">Capacité : </span><%= housing.capacity %> personnes maximums</p>
          </div>
          <% if (housing.Destination) { %>
          <div class="col-6 bs10 bg-white br20 p-3">
            <p class="txt-green m-0 fw6"><span class="mb-2 text-muted fw5">Destination : </span><a href="/destinations/<%= housing.Destination.id %>" class="fw6 txt-blue"><%= housing.Destination.name %></a></p>
          </div>
          <% } %>
        </div>        

        <div class="d-flex mt-2 gap-2">
          <div class="col-6 bs10 bg-white br20 p-3">
            <p class="txt-green m-0 fw6"><span class="mb-2 text-muted fw5">Thème : </span><a href="/themes/<%= housing.Theme.id %>/hebergements" class="fw6 txt-blue"><%= housing.Theme.name %></a></p>
          </div>
          <div class="col-6 bs10 bg-white br20 p-3">
            <p class="txt-green m-0 fw6"><span class="mb-2 text-muted fw5">Catégories : </span><% housing.type.split(',').forEach(category => { %> <span class="txt-green fw6"><%= category.trim() %></span><% }); %></p>
          </div>
        </div>
      </div>

    </div>

    <div class="row py-3">
      <form action="/bookings/add" method="POST">
        <div class="bg-blue p-4 align-items-end search-form gap-3 br20 row">
        <input type="hidden" name="housingId" value="<%= housing.id %>">
        <div class="form-group col-md-3">
          <label for="startDate" class="txt-white p">Date d'arrivée</label>
          <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="form-group col-md-3">
          <label for="endDate" class="txt-white p">Date de départ</label>
          <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>
        <div class="form-group col-md">
          <label for="guests" class="txt-white p">Nombre de personnes</label>
          <input type="number" class="form-control" id="guests" name="guests" min="1" max="<%= housing.capacity %>" required>
        </div>
        <div class="form-group col-md-3">
          <button type="submit" class="btn mt-3 fullwidth btn-green-light">Payer pour réserver</button>
        </div>
      </div>
      </form>
    </div>

    <div class="row py-5 gap-3">
      <div class="col-md">
        <h4 class="h4 txt-green mb-3">Informations complémentaires</h4>
        <div class="p-4 bg-white br20 bs10">
          <%- housing.description %>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Box des équipements -->
        <h4 class="h4 txt-green mb-3">Équipements / Services</h4>
          <div class="bg-white p-4 br20 bs10">
            <% if (housing.Equipments && housing.Equipments.length > 0) { %>
              <ul>
                <% housing.Equipments.forEach(equipment => { %>
                  <li class="list-equipement-item">
                    <%= equipment.name %> <span class=" <%= equipment.type === 'premium' ? 'badge-premium' : 'badge-simple ' %>"><%= equipment.type %></span>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <p>Aucun équipement disponible.</p>
            <% } %>
          </div>
          <h4 class="h4 txt-green my-4">Informations sur l'hôte</h4>
          <div class="bg-white p-4 br20 bs10">
            <p class="text-muted mb-4">Hôte : <strong><%= housing.Owner ? housing.Owner.name : 'Inconnu' %></strong></p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#contactFormModal">Contacter l'hebergeur</button>
          </div>
          </div>
    </div>


 

    
    <!-- Modal du formulaire de contact -->
    <div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contactFormModalLabel">Contacter l'hôte pour <%= housing.title %></h5>
            <button type="button" class="close btn-green-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="contactForm" method="POST" action="/hebergements/sendMessage">
              <div class="form-group">
                <label for="name">Nom et Prénom</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="form-group">
                <label for="phone">Téléphone (facultatif)</label>
                <input type="text" class="form-control" id="phone" name="phone">
              </div>
              <div class="form-group">
                <label for="content">Message</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
              </div>
              <!-- Les autres champs du formulaire -->
              <input type="hidden" name="housingId" value="<%= housing.id %>">
              <button type="submit" class="btn mt-3 btn-primary">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    

      <h3 class="h4 txt-green py-3">Les commentaires de cet hébergements</h3>
      <div class="d-flex gap-3 pb-5 align-items-center">
        <p class="mb-0"><%= averageRating %> / 5</p>
        <div class="ml-3">
          <% for(let i = 1; i <= 5; i++) { %>
            <i class="fas fa-star <%= i <= averageRating ? 'text-warning' : 'text-muted' %>"></i>
          <% } %>
        </div>
        <span class="ml-2">(<%= totalComments %> commentaires)</span>
    </div>


    <!-- Formulaire d'ajout de commentaire -->
    <div class="bg-white p-3 p-md-5 mb-5 bs10 br20">
    <% if (user) { %>
      <h4 class="fw6 pb-3 txt-blue">Ajouter un commentaire</h4>
      <form action="/comments/<%= housing.id %>/comments" method="POST" enctype="multipart/form-data">
        <div class="pb-3">
          <label class="fw6 pb-2 m-0 p bold" for="content">Commentaire</label>
          <textarea class="form-control" id="content" name="content" required></textarea>
        </div>
        <div class="pb-3">
          <label class="fw6 pb-2 m-0 p bold" for="rating">Évaluation</label>
          <input type="number" class="form-control" id="rating" name="rating" min="0" max="5" required>
        </div>
        <div class="pb-3">
          <label class="fw6 pb-2 m-0 p bold" for="photo">Photo</label><br>
          <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
      </form>
    <% } else { %>
      <p><a href="/login">Connectez-vous</a> pour ajouter un commentaire.</p>
    <% } %>
  </div>


    <div class="list-group">
      <% housing.Comments && housing.Comments.forEach(comment => { %>
        <div class="list-group-item br20 p-3 p-md-5 mb-3">
          <div class="d-flex align-items-center">
            <div>
              <h5 class="h5 txt-green fw6 p-0 m-0"><%= comment.User ? comment.User.firstName + ' ' + comment.User.lastName : 'Anonyme' %></h5>
              <div>
                <% for(let i = 1; i <= 5; i++) { %>
                  <i class="fas fa-star <%= i <= comment.rating ? 'text-warning' : 'text-muted' %>"></i>
                <% } %>
              </div>
            </div>
          </div>
          <p class="pt-4"><%= comment.content %></p>
          <% if (comment.photo) { %>
            <img src="/uploads/<%= comment.photo %>" alt="Comment Photo" class="img-thumbnail" style="max-width: 200px;">
          <% } %>
          <% if (comment.User && user && comment.User.id === user.id) { %>
            <form action="/comments/<%= housing.id %>/comments/<%= comment.id %>/edit" method="POST" enctype="multipart/form-data" class="mt-2">
              <input type="hidden" name="_method" value="PUT">
              <div class="form-group">
                <label for="content">Commentaire</label>
                <textarea class="form-control" id="content" name="content" required><%= comment.content %></textarea>
              </div>
              <div class="form-group">
                <label for="rating">Évaluation</label>
                <input type="number" class="form-control" id="rating" name="rating" value="<%= comment.rating %>" min="0" max="5" required>
              </div>
              <div class="form-group">
                <label for="photo">Photo</label>
                <input type="file" class="form-control-file" id="photo" name="photo">
              </div>
              <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
            <form action="/comments/<%= housing.id %>/comments/<%= comment.id %>/delete" method="POST" class="mt-2">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
          <% } %>
        </div>
      <% }) %>
    </div>

  </div>
</div>


  <%- include('partials/footer') %>

  <script>
    $(document).ready(function() {
      $('#contactFormModal form').on('submit', function(event) {
        event.preventDefault(); // Empêcher le rechargement de la page

        var formData = $(this).serialize(); // Récupérer les données du formulaire

        $.ajax({
          type: 'POST',
          url: '/hebergements/sendMessage', // URL d'envoi du formulaire
          data: formData,
          success: function(response) {
            $('#contactFormModal').modal('hide'); // Fermer le pop-up
            alert('Message envoyé avec succès !'); // Afficher un message de succès
            window.location.href = '/hebergements/' + $('input[name="housingId"]').val(); // Rediriger vers la page de l'hébergement
          },
          error: function() {
            alert('Une erreur est survenue, veuillez réessayer.');
          }
        });
      });
    });
  </script>

</body>
</html>
