<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="py-5">
          <div class="card-header card-header-primary">
          <h4 class="txt-green h2">Modifier l'hébergement</h4>
          </div>
          <div class="card-body">
            <form action="/admin/hebergements/edit/<%= hebergement.id %>" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= hebergement.title %>" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="5" required><%= hebergement.description %></textarea>
              </div>
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" name="type" value="<%= hebergement.type %>" required>
              </div>
              <div class="form-group">
                <label for="price">Prix</label>
                <input type="number" class="form-control" id="price" name="price" value="<%= hebergement.price %>" required>
              </div>
              <div class="form-group">
                <label for="capacity">Capacité</label>
                <input type="number" class="form-control" id="capacity" name="capacity" value="<%= hebergement.capacity %>" required>
              </div>
              <div class="form-group">
                <label for="themeId">Thème</label>
                <select class="form-control" id="themeId" name="themeId" required>
                  <% themes.forEach(theme => { %>
                    <option value="<%= theme.id %>" <%= theme.id === hebergement.themeId ? 'selected' : '' %>><%= theme.name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="destinationId">Destination</label>
                <select class="form-control" id="destinationId" name="destinationId" required>
                  <% destinations.forEach(destination => { %>
                    <option value="<%= destination.id %>" <%= destination.id === hebergement.destinationId ? 'selected' : '' %>><%= destination.name %></option>
                  <% }); %>
                </select>
              </div>

              <div class="form-group">
                <label for="existingPhotos">Photos existantes</label>
                <div>
                  <% if (hebergement.Photos && hebergement.Photos.length > 0) { %>
                    <% hebergement.Photos.forEach(photo => { %>
                      <div class="img-thumbnail" style="display: inline-block; margin-right: 10px;">
                        <img src="/<%= photo.path %>" style="width: 100px;">
                      </div>
                    <% }) %>
                  <% } else { %>
                    <p>Aucune photo disponible.</p>
                  <% } %>
                </div>
              </div>
              <div class="form-group">
                <label for="images">Ajouter de nouvelles photos</label>
                <input type="file" class="form-control-file" id="images" name="images" multiple>
              </div>

              <!-- Simples équipements -->
              <div class="form-group">
                <h4>Équipements Simples</h4>
                <% simpleEquipments.forEach(equipment => { %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="simpleEquipments" value="<%= equipment.id %>" 
                    <%= (hebergement.Equipments && hebergement.Equipments.some(e => e.id === equipment.id)) ? 'checked' : '' %>>
                    <label class="form-check-label"><%= equipment.name %></label>
                  </div>
                <% }) %>
              </div>

              <!-- Équipements Premiums -->
              <div class="form-group">
                <h4>Équipements Premiums</h4>
                <% premiumEquipments.forEach(equipment => { %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="premiumEquipments" value="<%= equipment.id %>" 
                    <%= (hebergement.Equipments && hebergement.Equipments.some(e => e.id === equipment.id)) ? 'checked' : '' %>>
                    <label class="form-check-label"><%= equipment.name %></label>
                  </div>
                <% }) %>
              </div>

              <button type="submit" class="btn mt-4 btn-primary">Mettre à jour</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  tinymce.init({
    selector: 'textarea#description',
    plugins: 'link image code',
    toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | code',
    setup: function (editor) {
      editor.on('change', function () {
        editor.save(); // Sync the content to the original textarea
      });
    }
  });

  // Ensure that TinyMCE content is properly submitted
  document.querySelector('form').addEventListener('submit', function(e) {
    // Ensure the editor content is updated in the textarea before submission
    tinymce.triggerSave();
  });
</script>
