<div class="container">
  <div class="row">
    <div class="col-md-12 py-5">
        <div class="card-header card-header-primary">
          <h4 class="txt-green h2">Gestion des Messages</h4>
          <p class="txt-green">Liste des messages</p>
        </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>Nom</th>
                      <th>Email</th>
                      <th>Numéro</th>
                      <th>Message</th>
                      <th>Provenance</th> <!-- Nouvelle colonne -->
                    </tr>
                  </thead>
                  <tbody>
                    <% messages.forEach(message => { %>
                      <tr>
                        <td><a href="/admin/messages/<%= message.id %>"><%= message.name %></a></td>
                        <td><a href="/admin/messages/<%= message.id %>"><%= message.email %></a></td>
                        <td><a href="/admin/messages/<%= message.id %>"><%= message.phone %></a></td>
                        <td><a href="/admin/messages/<%= message.id %>"><%= message.content.substring(0, 50) %>...</a></td>
                        <td><%= message.housingId ? 'Hébergement' : 'Contact Général' %></td> <!-- Source du message -->
                      </tr>
                    <% }) %>
                  </tbody>

                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>