<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="py-5">
        <div class="card-header card-header-primary">
          <h4 class="txt-green h2">Ajouter un nouvel hébergement</h4>
        </div>
          <div class="card-body">
            <form action="/admin/hebergements/new" method="POST" enctype="multipart/form-data" onsubmit="tinyMCE.triggerSave(true, true)">
              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
              </div>
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" name="type" required>
              </div>
              <div class="form-group">
                <label for="price">Prix</label>
                <input type="number" class="form-control" id="price" name="price" required>
              </div>
              <div class="form-group">
                <label for="capacity">Capacité</label>
                <input type="number" class="form-control" id="capacity" name="capacity" required>
              </div>
              <div class="form-group">
                <label for="themeId">Thème</label>
                <select class="form-control" id="themeId" name="themeId" required>
                  <option value="">Sélectionnez un thème</option>
                  <% themes.forEach(theme => { %>
                    <option value="<%= theme.id %>"><%= theme.name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="destinationId">Destination</label>
                <select class="form-control" id="destinationId" name="destinationId" required>
                  <option value="">Sélectionnez une destination</option>
                  <% destinations.forEach(destination => { %>
                    <option value="<%= destination.id %>"><%= destination.name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="images">Photos</label>
                <input type="file" class="form-control-file" id="images" name="images" multiple>
              </div>
              
              <!-- Simples équipements -->
              <div class="form-group">
                <h4>Équipements Simples</h4>
                <% simpleEquipments.forEach(equipment => { %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="simpleEquipments" value="<%= equipment.id %>">
                    <label class="form-check-label"><%= equipment.name %></label>
                  </div>
                <% }) %>
              </div>
              <!-- Équipements Premiums -->
              <div class="form-group">
                <h4>Équipements Premiums</h4>
                <% premiumEquipments.forEach(equipment => { %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="premiumEquipments" value="<%= equipment.id %>">
                    <label class="form-check-label"><%= equipment.name %></label>
                  </div>
                <% }) %>
              </div>

              <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  tinymce.init({
    selector: 'textarea#description',
    plugins: 'link image code',
    toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | code',
    setup: function (editor) {
      editor.on('change', function () {
        editor.save(); // Sync the content to the original textarea
      });
    }
  });

  // Ensure that TinyMCE content is properly submitted
  document.querySelector('form').addEventListener('submit', function(e) {
    // Ensure the editor content is updated in the textarea before submission
    tinymce.triggerSave();
  });
</script>
